<html>

<head>
    <meta charset="utf-8">
    <title>For Sale</title>
    <link rel="stylesheet" href="css/salesTableStyle.css">
    <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
    <div id="navdiv">
        <!--Nav Bar-->
        <nav class="navbar alignRight">
            <ul class="nav">
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </div>
    <section>
        <div class="table-title">
            <h3>You Entered An Invalid Address Please Go back</h3> </div>
    </section>
</body>
<!-- citation by http://codepen.io/alassetter/pen/cyrfB-->
  
</html>