<!--CSS LINK-->
<link rel="stylesheet" href="css/style.css">
<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
<div class="container">
    <div>
        <div id="info">
    </div>
    <form id="contact" action="/display">
        <h3>Log In</h3>
        <fieldset>
            <input id="signDiv-username" placeholder="UserName" type="text" name="name" tabindex="1" required autofocus> </fieldset>
        <fieldset>
            <input id="signDiv-password" placeholder="Password" name="password" type="password" tabindex="3" required> </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="signDiv-signIn" data-submit="...Sending">Submit</button>
        </fieldset>
        <p class="copyright">Don't have an Account  <a href="/"_blank title="Colorlib">Sign Up</a></p>
        <p class="copyright">Login As Guest  <a href="/displayguest"_blank title="Colorlib"> Guest</a></p>
    </form>
</div>
    