<!--CSS LINK-->
<link rel="stylesheet" href="css/style.css">
<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
<div class="container">
    <div>
        <div id="info">
            <h1>Low Blood Sugar <br>Management</h1> </div>
    </div>
    <form id="contact" action="/eval">
        <h3>***</h3>
        <h4>******</h4>
        <h4 style="color: red;">{{results}}</h4>
        <fieldset>
            <input placeholder="Your Name" type="text" name="name" tabindex="1" required autofocus> </fieldset>
        <fieldset>
            <input placeholder="Your Phone Number (optional)" name="phone" type="text" tabindex="3" required> </fieldset>
        <fieldset>
            <input placeholder="Street" name="street" type="text" tabindex="4" required> </fieldset>
        <fieldset>
            <input placeholder="City" name="city" type="text" tabindex="4" required> </fieldset>
        <fieldset>
            <input placeholder="State" name="state" type="text" tabindex="4" required> </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
        <p class="copyright">Zestimate powered by <a href="https://zillow.com" target="_blank" title="Colorlib">"ZILLOW"</a></p>
    </form>
</div>